@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=New+Tegomin&family=Roboto&display=swap');

body{
    background-color: rgb(241, 241, 182);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content-img{
    height: 374px;
    width: 883px;
    margin: auto;
}

header {
    width: 100%;
    height: 900px;
}
.titulo{
    font-weight: 800px;
    font-size: 89px;
    line-height: 79px;
    color: #ffb300;
    text-align: center;
    letter-spacing: 20px;
}
.author{
    color:black ;
    size: 21px; 
    font-weight: bold;
    text-align:right;
}

h2{
    font-size: 34px;
    font-weight: bold;
    color:#ffb300; 
}
.lu li{
    font-size: 21px;
    font-weight:600;
    line-height: 1,61px;
}
p{
    font-size: 21px;
    font-weight:600;
    line-height: 1,61px;
    color: black;

}
.linea{
    background-color: grey;
    width: 100%;
    padding-top: 5px;
}
section{
    margin: 5px;
    font-size: 21px;
    font-weight: semibold;
    line-height: 1,61;
    color: black;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 20px;
}
.linea{
    background-color: grey;
    width: 100%;
    padding-top: 5px;
}
.menu {
    width: 95%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
nav{
    border:1px solid blue;
    height: 40px;
    background-color: rgb(133, 182, 199);
    float:left;
    list-style: none;
    border-bottom: 1px solid black;
}
.clearfit{
    clear:both
}
.spacing{
    height: 34px;
    width: 100%;
}
#clicar{
    font-size: 21px;
    font-weight: bold;
    color: #0037B3;
}
.video{
    width: 883px;
    height: 497px;
}
footer{
    background:black;
    color: yellowgreen;
    text-align: center;
    height: 50px;
    line-height:50px;
}
